{{> header }}
{{> navbar }}

<div class="row">
    <div class="col8">
        <h1> ITSJR </h1>
    </div>
    <div class="col-4">
        <img src="https://www.ebsco.com/e/files/assets-blogs/Authentication_Methods_Library_Blog_940x600.png" class="img-thumbnail">
    </div>    
</div> 
{{> footer}}
{{> fin }}
