{{> header}}
<body>
   {{> navbar}}

    <div class="jumbotron">
        <h1 class="display-4">Bienvenido a mi Libro Tec {{ capitalizar 'Julio' }}</h1>
        <p class="lead">El Instituto Tecnologico de San Juan de Rio, Mejora la Visita de Libros para fomentar la Lectura en sus jovenes.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="about" role="button">Leer Mas...</a>
    </div>


   {{> footer }}
   {{> scrip  }}
   {{> fin    }}
