{{> header}}

<body>


    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <!-- Login Form -->
            <form>
                <input type="text" id="login" class="fadeIn second" name="login" placeholder="No. Control">
                <input type="text" id="password" class="fadeIn third" name="login" placeholder="Contraseña">
                <!--!<input type="submit" class="fadeIn fourth" value="Entrar">*/-->
               <input type="submit" class="fadeIn fourth" value="Enviar" >
                {{!-- <button type="button" class="btn btn-warning">Registrarse</button> --}}
            </form>
            <div id="formFooter">
                <a class="underlineHover" href="registro">A un no estas Registrado?</a>
            </div>
        </div>
    </div>


    {{> footer }}
    {{> scrip  }}
    {{> fin    }}