{{> header}}


<div class="wrapper fadeInDown">
    <div id="formContent">
        <form>
            <input type="text" id="no_control" class="fadeIn second" name="registro" placeholder="No. Control">
            <input type="password" id="nip" class="fadeIn third" name="registro" placeholder="NIP">
            <input type="text" id="carrera" class="fadeIn fourth" name="registro" placeholder="Carrera">
            <input type="text" id="semestre" class="fadeIn fiveth" name="registro" placeholder="Semestre">
            <input type="submit" class="fadeIn fourth" value="Enviar">
        </form>
    </div>
</div>

{{> footer }}
{{> scrip  }}
{{> fin    }}